.wallpaper{
    display: block;
    width: 100%;
    background-color: white;
    min-height: 90vh;
    font-size: 20px;
    font-weight: bolder;
    color: black;
}
.rbc-toolbar .rbc-toolbar-label {
    font-size: 48px;
    color: black;
    font-weight: bolder;
}
.rbc-toolbar{
    height: 160px;
    background-image: url(https://i.pinimg.com/originals/09/2b/8e/092b8e002e1e7b3ddc6fec7cf70b1b88.jpg);
}
.rbc-btn-group{
    background-color: rgba(255, 192, 203, 0.795);
}